In [1]:
import pandas as pd

In [7]:
covid_df = pd.read_csv("covid-tests-cases-deaths-per-million.csv")
covid_df.head()

,Entity,Code,Date,total_tests_per_thousand,total_tests_per_thousand Annotations,Total confirmed cases of COVID-19 per million people,Total confirmed deaths due to COVID-19 per million people
0,Afghanistan,AFG,2020-02-24,NaN,NaN,0.026,NaN
1,Afghanistan,AFG,2020-02-25,NaN,NaN,0.026,NaN
2,Afghanistan,AFG,2020-02-26,NaN,NaN,0.026,NaN
3,Afghanistan,AFG,2020-02-27,NaN,NaN,0.026,NaN
4,Afghanistan,AFG,2020-02-28,NaN,NaN,0.026,NaN

In [14]:
US_df = covid_df[covid_df["Entity"] == "United States"]
US_df.head(100)

,Entity,Code,Date,total_tests_per_thousand,total_tests_per_thousand Annotations,Total confirmed cases of COVID-19 per million people,Total confirmed deaths due to COVID-19 per million people
58137,United States,USA,2020-01-22,NaN,NaN,0.003,NaN
58138,United States,USA,2020-01-23,NaN,NaN,0.003,NaN
58139,United States,USA,2020-01-24,NaN,NaN,0.006,NaN
58140,United States,USA,2020-01-25,NaN,NaN,0.006,NaN
58141,United States,USA,2020-01-26,NaN,NaN,0.015,NaN
...,...,...,...,...,...,...,...
58232,United States,USA,2020-04-26,18.120,tests performed,2950.671,173.467
58233,United States,USA,2020-04-27,18.797,tests performed,3022.024,177.890
58234,United States,USA,2020-04-28,19.600,tests performed,3095.885,184.609
58235,United States,USA,2020-04-29,20.477,tests performed,3175.612,192.219
58236,United States,USA,2020-04-30,21.436,tests performed,3263.729,199.479

In [16]:
#TODO: Clean up dataset(fix NaN, empty spaces, type errors), add columns for new cases, new deaths
#TODO: Reformat dataset for RNN model with 1 week of data on X-axis and new cases/deaths on Y-axis after that week